<main class="container">
	<nav class="menu">
		<div class="menu-icone">
			<i class="fa fa-bars"></i>
		</div>
	</nav>
	<header class="header">
		<div class="logo"></div>
		<h1>Tiodanilo</h1>
		<div class="borda"></div>
		<h5>Um blog maneiro sobre coisas maneiras...</h5>
		<div class="social-icons">
			<ul>
				<li><a href="#"><i class="fa fa-facebook"></i></a></li>
				<li><a href="#"><i class="fa fa-facebook"></i></a></li>
				<li><a href="#"><i class="fa fa-facebook"></i></a></li>
				<li><a href="#"><i class="fa fa-facebook"></i></a></li>
				<li><a href="#"><i class="fa fa-facebook"></i></a></li>
			</ul>
		</div>
	</header>
	<section class="conteudo">
		<h2>Bem Vindo!</h2>
		<div class="borda-azul"></div>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis molestias suscipit minima odio autem incidunt nisi iusto accusantium voluptatibus atque dolorem facilis similique, necessitatibus fuga! Tenetur excepturi quam aut ipsum, dicta recusandae assumenda similique tempore vitae, minus vero, atque doloribus.</p>
	</section>
</main>